<!--[if IE]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<button id="toggle-nav" class="hamburger hamburger--squeeze" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<header id="primary-header">
  <div class="row">
    <div id="title">
      <h1><a href="{{ "/" | prepend: site.baseurl }}">Art 114: <span>Interactive Media and Design</span></a></h1>
    </div>
    <div id="meta">
      <div>Instructor: <a href="mailto:rdhauck@hacc.edu">Rich Hauck</a>, MPS<br>
      Office: HALTECH-213</div>
    </div>
  </div>
</header>
