<nav id="primary-nav">
  <div id="inner-nav">
    <ul>
     <li><a href="{{ "/" | prepend: site.baseurl }}">Syllabus</a></li>
     <li><a href="{{ "/schedule" | prepend: site.baseurl }}">Schedule</a></li>

     <li>
      <a href="{{ "/projects" | prepend: site.baseurl }}">Projects</a>
      <ul>
          <li><a href="{{ "/projects/project-1/" | prepend: site.baseurl }}">Project 1</a></li>
 <!--
          <li><a href="{{ "/projects/project-2" | prepend: site.baseurl }}">Project 2</a></li>
          <li><a href="{{ "/projects/project-3" | prepend: site.baseurl }}">Project 3</a></li>
      -->
    </ul>
  </li>
  <li>
      <a href="{{ "/assignments/" | prepend: site.baseurl }}">Assignments</a>
      <ul>
        <li><a href="{{ "/assignments/01/" | prepend: site.baseurl }}">1. Flexbox Exercise</a></li>
        <li><a href="{{ "/assignments/02/index.html" | prepend: site.baseurl }}">2. Two-Column Grid</a></li>
        <li><a href="{{ "/assignments/03/" | prepend: site.baseurl }}">3. Web Font</a></li>
        <li><a href="{{ "/assignments/04/" | prepend: site.baseurl }}">4. Responsive Layout</a></li>
      </ul>
  </li>
  <li>
    <a href="#">Resources</a>
      <ul>

          <li>
            <strong><a href="{{ "/resources/tools/" | prepend: site.baseurl }}">Tools</a></strong>
              <ul>
                  <li><a href="{{ "/resources/tools/text-editors" | prepend: site.baseurl }}">Text Editors</a></li>
                  <li><a href="{{ "/resources/tools/browser-inspectors" | prepend: site.baseurl }}">Browser Inspectors</a></li>
                  <li><a href="{{ "/resources/tools/resets" | prepend: site.baseurl }}">Resets</a></li>
              </ul>
          </li>

          <li>
            <strong><a href="{{ "/resources/starting-a-project/" | prepend: site.baseurl }}">Starting a Project</a></strong>
              <ul>
                  <li><a href="{{ "/resources/starting-a-project/sitemap/" | prepend: site.baseurl }}">Sitemap</a></li>
                  <li><a href="{{ "/resources/starting-a-project/wireframes/" | prepend: site.baseurl }}">Wireframes</a></li>
                  <li><a href="{{ "/resources/starting-a-project/images-icons/" | prepend: site.baseurl }}">Images and Icons</a></li>
                  <!-- <li><a href="{{ "/resources/starting-a-project/frameworks/" | prepend: site.baseurl }}">Frameworks</a></li> -->
              </ul>
          </li>
          <li>
            <strong>Building a Website</strong>
            <ul>
              <li><a href="{{ "/resources/building-a-website/page-layouts/" | prepend: site.baseurl }}">Page Layouts</a></li>
              <li><a href="{{ "/resources/building-a-website/file-includes/" | prepend: site.baseurl }}">File Includes in PHP</a></li>
              <li><a href="{{ "/resources/building-a-website/web-fonts/" | prepend: site.baseurl }}">Web Fonts</a></li>
              <li><a href="{{ "/resources/building-a-website/html-table/" | prepend: site.baseurl }}">HTML Table</a></li>
            </ul>
          </li>

          <li>
              <strong>Responsive Design</strong>
              <ul>
                <li><a href="{{ "/resources/responsive-design/media-queries/" | prepend: site.baseurl }}">Media Queries</a></li>
                <li><a href="{{ "/resources/responsive-design/responsive-images/" | prepend: site.baseurl }}">Responsive Images</a></li>
                <li><a href="{{ "/resources/responsive-design/responsive-navigation/" | prepend: site.baseurl }}">Responsive Navigation</a></li>
                <li><a href="{{ "/resources/responsive-design/active-page-highlight/page1.html" | prepend: site.baseurl }}">Active Page Highlight</a></li>
              </ul>
          </li>

          <li>
              <strong>JavaScript</strong>
              <ul>
                <li><a href="{{ "/resources/javascript/" | prepend: site.baseurl }}">JavaScript</a></li>
                <!--
                  <li><a href="{{ "/resources/javascript/animation" | prepend: site.baseurl }}">Animation</a></li>
                <li><a href="{{ "/resources/javascript/slideshow" | prepend: site.baseurl }}">Slideshow</a></li>
              -->
              </ul>
          </li>
            

          <li>
              <strong>Site Setup</strong>
              <ul>
                <li><a href="{{ "/resources/site-setup/ftp" | prepend: site.baseurl }}">FTP</a></li>
                <li><a href="{{ "/resources/site-setup/google-analytics" | prepend: site.baseurl }}">Get started with Analytics</a></li>
              </ul>
          </li>
<!--
          <li>
            <a href="{{ "/resources/modern-development" | prepend: site.baseurl }}">Modern Development</a>
        </li>
-->
      </ul>
  </li>

  </div>
</nav>
