<nav id="primary-nav">
  <div id="inner-nav">
    <ul>

     <li class="group open">
       <a href="{{ "/development-environment/" | prepend: site.baseurl }}">Development Environment</a>
       <input type="image" src="{{ "/images/arrow.svg" | prepend: site.baseurl }}" alt="arrow button">
       <div>
         <ul>
           <li><a href="{{ "/development-environment/text-editors" | prepend: site.baseurl }}">Text Editors</a></li>
           <li><a href="{{ "/development-environment/browser-inspectors" | prepend: site.baseurl }}">Browser Inspectors</a></li>
           <li><a href="{{ "/development-environment/resets" | prepend: site.baseurl }}">Resets</a></li>
         </ul>
       </div>
     </li>

     <li class="group open">
       <a href="{{ "/starting-a-project/" | prepend: site.baseurl }}">Starting a Project</a>
       <input type="image" src="{{ "/images/arrow.svg" | prepend: site.baseurl }}" alt="arrow button">
       <div>
         <ul>
    			<li><a href="{{ "/starting-a-project/sitemap" | prepend: site.baseurl }}">Sitemap</a></li>
    			<li><a href="{{ "/starting-a-project/wireframes" | prepend: site.baseurl }}">Wireframes</a></li>
    			<li><a href="{{ "/starting-a-project/frameworks" | prepend: site.baseurl }}">Frameworks</a></li>
    			<li><a href="{{ "/starting-a-project/images-icons" | prepend: site.baseurl }}">Images and Icons</a></li>
         </ul>
       </div>
     </li>

     <li class="group open">
       <a href="{{ "/project-1/" | prepend: site.baseurl }}">Project 1</a>
       <input type="image" src="{{ "/images/arrow.svg" | prepend: site.baseurl }}" alt="arrow button">
       <div>
         <ul>
           <li><a href="{{ "/project-1/ftp-site-setup" | prepend: site.baseurl }}">FTP and Site Setup</a></li>
           <li><a href="{{ "/project-1/page-layouts" | prepend: site.baseurl }}">Page Layouts</a></li>
           <li><a href="{{ "/project-1/media-queries" | prepend: site.baseurl }}">Media Queries</a></li>
           <li><a href="{{ "/project-1/web-fonts" | prepend: site.baseurl }}">Web Fonts</a></li>
           <li><a href="{{ "/project-1/responsive-images" | prepend: site.baseurl }}">Responsive Images</a></li>
           <li><a href="{{ "/project-1/responsive-navigation" | prepend: site.baseurl }}">Responsive Navigation</a></li>
         </ul>
       </div>
     </li>

     <li class="group open">
       <a href="{{ "/project-2/" | prepend: site.baseurl }}">Project 2</a>
       <input type="image" src="{{ "/images/arrow.svg" | prepend: site.baseurl }}" alt="arrow button">
       <div>
         <ul>
           <li><a href="{{ "/project-2/html-table" | prepend: site.baseurl }}">HTML Table</a></li>
           <li><a href="{{ "/project-2/animation" | prepend: site.baseurl }}">Animation</a></li>
           <li><a href="{{ "/project-2/javascript" | prepend: site.baseurl }}">JavaScript</a></li>
           <li><a href="{{ "/project-2/file-includes" | prepend: site.baseurl }}">File Includes in PHP</a></li>
         </ul>
       </div>
     </li>

     <li class="group open">
       <a href="{{ "/project-3/" | prepend: site.baseurl }}">Project 3</a>
       <input type="image" src="{{ "/images/arrow.svg" | prepend: site.baseurl }}" alt="arrow button">
       <div>
         <ul>
         </ul>
       </div>
     </li>

     <li class="group open">
       <a href="{{ "/project-4/" | prepend: site.baseurl }}">Project 4</a>
       <input type="image" src="{{ "/images/arrow.svg" | prepend: site.baseurl }}" alt="arrow button">
       <div>
         <ul>
         </ul>
       </div>
     </li>
<!--
     <li><a href="{{ "/project-1" | prepend: site.baseurl }}">Project 1</a></li>
     <li><a href="#">Wireframing</a></li>
     <li><a href="#">Color Palettes</a></li>
     <li><a href="#">Style Guides</a></li>

     <li class="group open"><a href="#">Starter Kits</a>
       <ul>
         <li><a href="#">HTML5 Boilerplate</a></li>
         <li><a href="#">Folder Structure</a></li>
       </ul>
     </li>

     <li><a href="#">Web Fonts</a></li>
     <li><a href="#">Connect to FTP</a></li>
     <li><a href="#">CSS Media Queries</a></li>
     <li class="group open">
       <a href="#">CSS Grids</a>
       <ul>
         <li><a href="#">Frameworks</a></li>
       </ul>
     </li>
     <li><a href="#">Responsive Navigation</a></li>
     <li><a href="#">Intro to JavaScript</a></li>
     <li><a href="#">JQuery</a></li>
     <li class="group open">
       <a href="#">JQuery Plugins</a>
       <ul>
         <li><a href="#">Carousel</a></li>
         <li><a href="#">Lightbox</a></li>
       </ul>
     </li>
     <li class="group open">
       <a href="#">Web Animation</a>
       <ul>
         <li><a href="#">JavaScript</a></li>
         <li><a href="#">CSS</a></li>
       </ul>
     </li>
     <li class="group open"><a href="#">PHP</a>
       <ul>
         <li><a href="#">Includes</a></li>
         <li><a href="#">Email Form</a></li>
       </ul>
     </li>
     <li><a href="#">Google Analytics</a></li>
     <li><a href="#">LESS, SASS</a></li>
     <li><a href="#">Content Management Systems</a></li>
     <li><a href="#">Business Side of design</a></li>
   -->
   </ul>
  </div>
</nav>
