#toggle-nav{
  transition: $transition;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: $darkGray;
  position: fixed;
  bottom: 1em;
  left: 1em;
  display: none;
  z-index: 100;

  &:hover{
    background-color: $blue;
  }

  @include mappy-bp(max-width medium) {
    display: block;
  }
}
#primary-header{
  color: #fff;
  background-color: $darkGray;
  padding: 2em;
  width: 100%;
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;

  @include mappy-bp(max-width large) {
    padding: 1em;
  }

  .row{
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include mappy-bp(max-width small) {
      flex-direction: column;
    }
  }

  #title{
    display: flex;
    align-items: center;
    h1{
      color: #fff;
      margin: 0;
      font-size: 2em;
      line-height: 1.1em;
      @include mappy-bp(max-width large) {
        font-size: 1.5em;
      }
      a{
        color: #fff;
      }
      span{
        color: $red;
      }
    }
  }
  #meta{
    display: flex;
    align-items: center;

    a:link, a:visited{
      color: #fff;
    }
    a:hover{
      color: $red;
    }
  }
}
