*{
	box-sizing: border-box;
}
#content{
  margin: $headerHeight 0 0 320px;

	@include mappy-bp(max-width medium) {
		margin: $headerHeight 0 0 0;
	}
}

#inner-content{
  padding: $base-padding;
  width: 65%;

	@include mappy-bp(max-width large) {
    width: 100%;
  }
}
#code-sample{
	padding: $base-padding;
	width: calc(100% - ($base-padding*2));
  }

.box{
	margin: $base-padding auto;
	padding: $base-padding;
	background-color: $lightGray;
}

.button{
	color: #fff;
	&:link, &:visited{background-color: $darkGray;}
	&:hover{background-color: $blue;}
	padding: 0.3em 0.7em;
}
