*{
	box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
	color: $textColor;
	margin: 0;
	padding: 0;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
a{
  transition: $transition;
  text-decoration: none;
}
img{
	border: 1px solid $borderColor;
	max-width: 100%;
	height: auto;
}
hr{
	border: none;
	height: 1px;
	background-color: $borderColor;
	margin: 2em 0;
}
section{
	padding-bottom: $base-padding;
	border-top: 1px solid $borderColor;
}
aside{
	h2, h3{
		margin-top: 0;
	}
	margin: $base-padding auto;
	padding: $base-padding;
	background-color: $lightGray;
}
figure{
	margin: 0;
}
